SUPABASE_URL=https://wviszdvsiatwpadbtiko.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind2aXN6ZHZzaWF0d3BhZGJ0aWtvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIwNzYyMTMsImV4cCI6MjA5NzY1MjIxM30.TFYLXD30TUntijqrRTs76YXyZSdrkGPOCcaV61pj3vY
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
SOLANA_PLATFORM_SECRET_KEY=your-base58-encoded-private-key
PORT=3001
